/**************************************************************************************************
 * less/screen/components/CorpLogo.less
 * @author Mario Hofer (mario.hofer@knsqnt.com)
 **************************************************************************************************/
#CorpLogo {
  display: block;
  min-width: 180px;
  min-height: 60px;
  text-indent: -10000px;
  overflow: hidden;
  background: url('../img/CorpLogo.png') left center no-repeat;
}
